[core]
  excludesfile = ~/.gitignore
  autocrlf = false
[push]
	autoSetupRemote = true
[include]
    # Include aliases.
  path = .gitconfig_alias

    # Include extra configuration (if any).
  path = .gitconfig_local

[help]
    # Correct and execute mistyped commands.
  autocorrect = 1

[fetch]
    # Remove any remote-tracking references that no longer exist on the remote.
  prune = true
[credential]
	helper = store

[init]
	defaultBranch = main
